# To update dependencies to the latest allowed versions, run `npm update`.
# This config option enables the `--save` flag, i.e. `npm update --save`, which
# causes `package.json` to get the new version numbers.
save = true
