.background {
  background-color: var(--background-color);
  width: 100%;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .background {
    padding: 0;
  }
}

.pageContainer {
  background-color: transparent;
  width: var(--content-width);
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.skipLink {
  position: absolute;
  top: -2em;
  z-index: 2000;
}

.skipLink:focus {
  top: 0;
}
