.banner {
  margin: 0 calc(-1 * var(--content-side-padding)) 2rem;
  padding: 2rem var(--content-side-padding);
  min-height: 25rem;
  height: auto;
  background-color: var(--accent-color);
  background-image: var(--gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner h1 {
  margin: 0;
  font-size: 9rem;
  line-height: 1;
  border: none;
  color: #fff;
  text-shadow: 0.02em 0.04em 0.04em var(--shadow-color);
  overflow-wrap: anywhere;
}

@media (max-width: 768px) {
  .banner {
    min-height: 16rem;
  }

  .banner h1 {
    font-size: 16vw;
  }
}
