.image {
  display: block;
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
  border: 1px solid var(--line-color);
  border-radius: var(--common-border-radius);
}

.carousel {
  width: calc(100% + 2 * var(--content-side-padding));
  height: auto;
  margin: 1rem calc(-1 * var(--content-side-padding));
  padding: 1rem var(--content-side-padding);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  column-gap: 2%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scroll-padding: 0 var(--content-side-padding);
}

.carousel .image {
  max-width: 90%;
  height: auto;
  display: inline-block;
  scroll-snap-align: center;
}
