.navigationBar {
  background-color: var(--surface-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 2px 2px 2px var(--shadow-color);
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .navigationBar {
    padding: 1rem;
    flex-direction: column;
    font-size: 1rem;
  }
}

.homeLink {
  color: var(--text-primary-color);
  font-family: var(--body-typeface);
  font-weight: var(--weight-bold);
  white-space: nowrap;
  margin-right: 1rem;
}

.homeLink:hover,
.homeLink:focus {
  text-decoration: none;
}

.topLinkList {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 2rem;
  align-items: baseline;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 768px) {
  .topLinkList {
    margin-left: 0;
    column-gap: 1rem;
  }
}

.topLinkItem {
  position: relative;
}

.topLink {
  font-family: var(--heading-typeface);
  font-weight: var(--weight-medium);
  color: var(--text-primary-color);
}

.topLink:hover,
.topLink:focus {
  text-decoration: none;
  border-bottom: 3px solid var(--text-primary-color);
}

.topLinkCurrent {
  color: var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
}

.topLinkCurrent:hover,
.topLinkCurrent:focus {
  border-color: var(--accent-color);
}
