.showcaseList {
  width: 100%;
  max-width: 64rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 1rem;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 768px) {
  .showcaseList {
    width: 90%;
    max-width: 32rem;
    flex-direction: column;
    align-items: stretch;
  }
}

.showcaseItem {
  padding: 1rem;
  background-color: var(--surface-color);
  border: 0.5px solid var(--line-color);
  box-shadow: 0 0 4px var(--shadow-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  border-radius: var(--common-border-radius);
  overflow: hidden;
  position: relative;
  transition: background-color var(--common-transition);
}

.showcaseItem:hover,
.showcaseItem:focus-within {
  background-color: var(--light-shadow-color);
}

@media (max-width: 768px) {
  .showcaseItem {
    flex-direction: column;
    align-items: stretch;
  }
}

.showcaseThumbnail {
  max-width: 24rem;
  max-height: 13.5rem;
  width: 50%;
  height: auto;
  object-fit: cover;
  background-color: var(--accent-color);
  background-image: var(--gradient);
}

@media (max-width: 768px) {
  .showcaseThumbnail {
    width: 100%;
    max-width: none;
    max-height: none;
  }
}

.showcaseTextWrapper {
  flex: 1;
}

.showcaseTitle {
  margin: 0;
  font-size: 1.75rem;
}

.showcaseTitle a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.showcaseDescription {
  margin: 0;
  margin-top: 0.25em;
  line-height: 1.375em;
}
