.tableOfContents {
  margin: 2rem var(--content-padding) 0;
  padding: 1rem;
  border: 2px solid var(--line-color);
  border-radius: var(--common-border-radius);
  align-self: flex-start;
}

.tocTitle {
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: var(--heading-typeface);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.tableOfContents ul {
  padding: 0;
  padding-left: 0.5rem;
  text-indent: -0.5rem;
  list-style-type: none;
}

.tableOfContents > ul ul {
  padding-left: 1rem;
}
