.cardListContainer {
  margin: 2rem 0;
}

.cardList {
  --card-gutter: 2rem;
  margin: 0 auto;
  max-width: 48rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: var(--card-gutter);
  row-gap: var(--card-gutter);
}

.card {
  width: calc(calc(100% - var(--card-gutter)) / 2);
  border: 1px solid var(--text-secondary-color);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
}

.cardContent {
  flex: 1;
}

.cardTitle {
  margin: 0;
  font-family: var(--heading-typeface);
  font-size: 1.5rem;
  font-weight: var(--weight-medium);
  text-transform: uppercase;
}

.cardSubtitle {
  margin: 0;
  margin-top: 0.75em;
}

.cardSecondaryContent {
  flex: 0;
  margin: auto 0;
  margin-left: 1rem;
}

@media (max-width: 800px) {
  .cardList {
    max-width: 24rem;
  }

  .card {
    width: 100%;
  }
}
