.footer {
  background-color: var(--content-background-color);
  flex: 1;
  width: 100%;
  border-top: 1px solid var(--text-secondary-color);
}

.footerContent {
  width: var(--content-width);
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 1rem 0.25rem 2rem;
}

@media (max-width: 768px) {
  .footerContent {
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
  }
}

.siteMap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
  column-gap: 4rem;
  padding: 0;
  list-style-type: none;
}

.siteMap p {
  margin: 0;
}

.siteMapColumn {
  margin: 0;
  max-width: 100%;
  border-left: 1px solid var(--text-secondary-color);
  padding-left: 0.5rem;
}

@media (max-width: 768px) {
  .siteMap {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.siteMapPageList {
  padding: 0;
  padding-left: 1rem;
  list-style-type: none;
}
