.footer {
  background-color: var(--content-background-color);
  flex: 1;
  width: 100%;
  border-top: 1px solid var(--text-secondary-color);
}

.footerContent {
  width: var(--inner-width);
  max-width: var(--inner-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0.25em 2em 0.25em;
  display: flex;
  flex-direction: row;
  line-height: 2;
}

.rightAlign {
  text-align: end;
  flex: 1;
}
