:root {
  --background-color: #f0f0f0;
  --content-background-color: #fff;
  --content-overlay-color: #ffffffe8;
  --text-primary-color: #000;
  --text-secondary-color: #b0b0b0;
  --accent-color: #00b0f0;
  --highlight-color: #e0e0e0;
  --shadow-color: #00000030;
  --body-typeface: "Noto Serif", Georgia, "Times New Roman", Times, serif;
  --heading-typeface: "Barlow Semi Condensed", Helvetica, Arial, sans-serif;
  --heading-secondary-typeface: "Barlow", Helvetica, Arial, sans-serif;
  --code-typeface: "Noto Sans Mono", Menlo, Monaco, monospace;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --common-border-radius: 8px;
  --content-width: 90%;
  --content-max-width: 64rem;
  --content-padding: 4rem;
}

@media (max-width: 768px) {
  :root {
    --content-width: 100%;
    --content-padding: 4%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--body-typeface);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-typeface);
  font-weight: var(--weight-semibold);
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  border-bottom: 3px solid var(--highlight-color);
}

h2 {
  font-size: 1.75rem;
  border-bottom: 2px solid var(--highlight-color);
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--weight-bold);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.125em;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  border-left: 4px solid var(--text-secondary-color);
  color: var(--text-secondary-color);
}

code {
  font-family: var(--code-typeface);
  background-color: var(--highlight-color);
  padding: 0.0625em 0.25em;
  border-radius: 0.25em;
}

pre {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 66em;
  background-color: var(--highlight-color);
  padding: 0.5em 1em;
  border-radius: 0.75em;
  overflow-x: auto;
}

pre code {
  background-color: revert;
  padding: revert;
  border-radius: revert;
}

ol,
ul {
  padding-inline-start: 2.5em;
}

ol {
  list-style-type: decimal;
}

ol ol,
ul ol {
  list-style-type: lower-alpha;
}

ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  list-style-type: lower-roman;
}

ul {
  list-style-type: disc;
}

ul ul,
ol ul {
  list-style-type: circle;
}

ul ul ul,
ul ol ul,
ol ul ul,
ol ol ul {
  list-style-type: square;
}
