:root {
  --background-color: #fff;
  --text-primary-color: #000;
  --text-secondary-color: #888;
  --accent-color: #00b0f0;
  --body-typeface: "Noto Serif", Georgia, "Times New Roman", Times, serif;
  --heading-typeface: "Barlow Semi Condensed", Helvetica, Arial, sans-serif;
  --heading-secondary-typeface: "Barlow", Helvetica, Arial, sans-serif;
  --code-typeface: "Noto Sans Mono", Menlo, Monaco, monospace;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--body-typeface);
}

a {
  text-decoration: none;
}
