.image {
  display: block;
  box-sizing: content-box;
  border: 1px solid var(--line-color);
  border-radius: var(--common-border-radius);
}

.carousel {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 1rem 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  column-gap: 2%;
  overflow-x: auto;
}

.carousel .image {
  max-width: 90%;
  height: auto;
  display: inline-block;
}

.appIcon {
  border: 1px solid var(--line-color);
  border-radius: 25%;
  box-sizing: content-box;
}
