.layoutWrapper {
  min-width: max-content;
}

.background {
  background-color: var(--background-color);
  width: 100%;
  min-height: 720px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  background-color: transparent;
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
