.layoutWrapper {
  --inner-width: 90%;
  --inner-max-width: 1024px;
}

.background {
  background-color: var(--background-color);
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.pageContainer {
  background-color: transparent;
  width: var(--inner-width);
  max-width: var(--inner-max-width);
  margin-left: auto;
  margin-right: auto;
}

.skipLink {
  position: absolute;
  top: -2em;
  z-index: 2000;
}

.skipLink:focus {
  top: 0;
}
