.layoutWrapper {
  --inner-width: 90%;
  --inner-max-width: 1024px;
  min-width: max-content;
}

.background {
  background-color: var(--background-color);
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  background-color: transparent;
  width: var(--inner-width);
  max-width: var(--inner-max-width);
  margin-left: auto;
  margin-right: auto;
}
