.navigationBar {
  --menus-border-radius: 8px;
  --top-link-font-size: 1.75rem;
  --top-link-vertical-padding: 0.75rem;
  --top-link-horizontal-padding: 1.5rem;
  background-color: var(--content-background-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  min-width: max-content;
  box-shadow: 0px 2px 2px 2px var(--shadow-color);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.homeLink {
  color: var(--text-primary-color);
  font-family: var(--body-typeface);
  font-weight: var(--weight-bold);
  font-size: var(--top-link-font-size);
  white-space: nowrap;
  padding: 0 0.5rem;
}

.homeLink:hover {
  text-decoration: none;
}

.topLinkList {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 4rem;
  padding: var(--top-link-vertical-padding) 0;
}

.topLinkItem {
  list-style-type: none;
  position: relative;
}

.topLink {
  font-family: var(--heading-typeface);
  font-size: var(--top-link-font-size);
  font-weight: var(--weight-medium);
  color: var(--text-primary-color);
  padding: var(--top-link-vertical-padding) var(--top-link-horizontal-padding);
  border-radius: var(--menus-border-radius);
}

.topLink:hover {
  background-color: var(--highlight-color);
  text-decoration: none;
}

.topLinkCurrent {
  color: var(--accent-color);
}

.navigationBarSubmenu {
  --submenu-border-width: 1px;
  --submenu-font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  background-color: var(--content-background-color);
  position: absolute;
  z-index: 1000;
  width: max-content;
  border: var(--submenu-border-width) solid #000;
  border-radius: var(--menus-border-radius);
}

.navigationBarSubmenu.below {
  top: calc(100% + var(--top-link-vertical-padding));
  left: 0;
}

.navigationBarSubmenu.below.left {
  left: unset;
  right: 0;
}

.navigationBarSubmenu.beside {
  top: calc(0 - var(--submenu-border-width));
  left: calc(100% - 1rem);
}

.navigationBarSubmenu.beside.left {
  left: unset;
  right: 100%;
}

.sublinkItem {
  list-style-type: none;
}

.sublink {
  font-family: var(--heading-secondary-typeface);
  font-size: var(--submenu-font-size);
  font-weight: var(--weight-normal);
  color: var(--text-primary-color);
  display: flex;
  width: 100%;
  padding: 0.625rem 1rem;
}

.sublinkItem:first-child > .sublink {
  border-top-left-radius: var(--menus-border-radius);
  border-top-right-radius: var(--menus-border-radius);
}

.sublinkItem:last-child > .sublink {
  border-bottom-left-radius: var(--menus-border-radius);
  border-bottom-right-radius: var(--menus-border-radius);
}

.sublink:hover {
  background-color: var(--highlight-color);
  text-decoration: none;
}

.sublinkCurrent {
  color: var(--accent-color);
}

.sublinkArrow {
  margin-left: 2rem;
  margin-right: 0.5rem;
  align-self: flex-end;
}

.hidden {
  visibility: hidden;
}
