.page {
  border-radius: 8px;
  box-shadow: 0px 0px 3px 3px var(--shadow-color);
  overflow: hidden;
}

.content {
  background-color: var(--content-background-color);
  padding: 48px 64px;
}

.content > *:first-child {
  margin-top: 0;
}
