.page {
  border-radius: var(--common-border-radius);
  box-shadow: 0px 0px 3px 3px var(--shadow-color);
  display: flex;
  flex-direction: column;
  background-color: var(--content-background-color);
  overflow: hidden;
}

@media (max-width: 768px) {
  .page {
    border-radius: 0;
  }
}

.content {
  padding: 2rem var(--content-padding);
}

.content > *:first-child {
  margin-top: 0;
}
