.page {
  border-radius: var(--common-border-radius);
  box-shadow: 0px 0px 3px 3px var(--shadow-color);
  display: flex;
  flex-direction: column;
  background-color: var(--content-background-color);
  overflow: hidden;
}

.content {
  padding: 3rem 4rem;
}

.content > *:first-child {
  margin-top: 0;
}
