.showcaseBox {
  width: 60%;
  max-width: 32rem;
  margin: 2rem auto;
  border: 1px solid var(--text-secondary-color);
  border-radius: var(--common-border-radius);
  overflow: hidden;
  position: relative;
}

.showcaseThumbnail {
  width: 100%;
  height: auto;
}

.showcaseOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--content-overlay-color);
  padding: 1rem;
  border-top: 0.5px solid var(--text-secondary-color);
}

.showcaseTitle {
  margin: 0;
  font-family: var(--heading-typeface);
  font-size: 1.5rem;
  font-weight: var(--weight-medium);
  text-transform: uppercase;
}

.showcaseDescription {
  margin: 0;
  margin-top: 0.25em;
}

@media (max-width: 960px) {
  .showcaseBox {
    width: 75%;
  }
}

@media (max-width: 800px) {
  .showcaseBox {
    width: 100%;
  }
}
