.showcaseGrid {
  width: 100%;
  max-width: 64rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 1rem;
}

.showcaseBox {
  width: 48%;
  border: 1px solid var(--text-secondary-color);
  border-radius: var(--common-border-radius);
  overflow: hidden;
  position: relative;
}

@media (max-width: 960px) {
  .showcaseGrid {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .showcaseBox {
    width: 100%;
    max-width: 32rem;
  }
}

.showcaseThumbnail {
  width: 100%;
  height: auto;
}

.showcaseOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--content-overlay-color);
  padding: 1rem;
  border-top: 0.5px solid var(--text-secondary-color);
}

.showcaseTitle {
  margin: 0;
  font-family: var(--heading-typeface);
  font-size: 1.5rem;
  font-weight: var(--weight-medium);
  text-transform: uppercase;
}

.showcaseDescription {
  margin: 0;
  margin-top: 0.25em;
  line-height: 1.375em;
}
